@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  padding: 50px;
}
